<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Resume</title>
</head>
<body>
    <div style="margin: 0 auto;display: block;width: 500px;">
        <table width="100%" border="1">
         <tr>
                <td>Name:</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{address}}</td>
            </tr>
            <tr>
                <td>Mobile Number:</td>
                <td>{{mobileNumber}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{email}}</td>
           
           
           {# para la variable data
            <tr>
                <td>Name:</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>{{surname}}</td>
            </tr>
            <tr>
                <td>Mobile Number:</td>
                <td>{{mobileNumber}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{email}}</td>
           
           
           {# 
           
           Para la clase alumno:
           <tr>
           <td>{{ alumno.id }}</td>
           </tr>
              <tr>  
                <td>{{ alumno.name }}</td> 
                </tr>
                 <tr>
                <td>{{ alumno.surname }}</td> </tr>
                 <tr>
                <td>{{ alumno.datereg ? alumno.datereg|date('Y-m-d H:i:s') : '' }}</td>
                 </tr>

                 #}
        </table>
    </div>
</body>
</html>